.DS_STORE
node_modules
*~
build/
*.log*
.vscode
*.swp
config/AWSConfig.json
config/cognito_configuration.js
avatarConfig/AvatarTest.py
avatarConfig/oauth.json
avatarConfig/player.json
avatarConfig/AWSConfig.js
avatarConfig/2019*
avatarConfig/*.zip

