.CanvasContainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #333333;
}

.ToggleBrain {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 5vh;
  max-width: 200px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(to bottom, #558bff, transparent);
  background-color: #2848ff;
  border: 1px rgb(42, 99, 255) solid;
  outline: none;
  cursor: pointer;
}

.ToggleBrain:hover {
  background-image: linear-gradient(to bottom, #84aafc, transparent);
  background-color: #4662fd;
}

.ToggleBrain:active {
  background-image: linear-gradient(to bottom, #2266fa, transparent);
  background-color: #0026fd;
}
