@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('/font/Segoe\ UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'),
    url('/font/Segoe\ UI\ Italic.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('/font/Segoe\ UI\ Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'),
    url('/font/Segoe\ UI\ Bold\ Italic.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'),
    url('/font/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed'),
    url('/font/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed Italic'),
    url('/font/MYRIADPRO-CONDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Light'),
    url('/font/MyriadPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold'),
    url('/font/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Semibold Italic'),
    url('/font/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed'),
    url('/font/MYRIADPRO-BOLDCOND.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('/font/MYRIADPRO-BOLD.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Italic'),
    url('/font/MYRIADPRO-BOLDIT.woff') format('woff');
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold Condensed Italic'),
    url('/font/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI Regular';
}

.section-one > img {
  width: 100%;
  height: 100vh;
}
.padding-mobile {
  padding-top: 20px;
}
.header-navbar {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
}

.navbar-padding {
  padding-left: 10% !important;
  padding-right: 10% !important;
  position: absolute !important;
  width: 100% !important;
  z-index: 2 !important;
}
.navbar-padding a {
  color: #fff !important;
  font-weight: 500;
}
.active-link {
  border: 1px solid white;
  border-radius: 5px;
  width: 50%;
  background: #fff;
  margin-left: 25%;
}
.active-link-hover {
  transition: border, border-radius, width, background, margin-left 2s;
}
.nav-link:hover .active-link-hover {
  border: 1px solid white;
  border-radius: 5px;
  width: 50%;
  background: #fff;
  margin-left: 25%;
}

.navbar-brand {
  font-weight: 600;
  font-size: 30px;
}
.navbar-brand img,
.logo {
  width: 50%;
  height: auto;
}
.header-heading {
  padding-left: 10% !important;
}
.image-padding {
  padding-left: 5% !important;
}
.image-padding > img {
  padding-left: 5% !important;
}
.header-heading h1 {
  font-weight: 900;
  color: #fff;
  font-size: 40px;
}
.header-heading h4 {
  font-weight: 900;
  color: #fff;
}
.header-heading .underlined-text {
  font-weight: 400;
  color: #fff;
  margin-top: 7%;
  font-size: 20px;
  margin-bottom: 0;
  width: fit-content;
}

.header-heading hr {
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 1px;
  width: fill-available;
  background-color: #fff;
}

.section-two h1,
.section-three h1,
.section-four h1 {
  font-family: 'Roboto', sans-serif;
}

.section-three h5 {
  font-family: Segoe UI Bold;
}

.section-four h4 {
  font-family: Myriad Pro Regular;
}
.section-two p {
  color: #929292;
  font-size: 20px;
  font-weight: 300;
}
.dashed-border {
  margin-top: 10%;
}
.dashed-border ul li {
  width: 3%;
  border: 2px solid #eaeaea;
  display: inline-block;
  border-radius: 10px;
  margin: 0 5px 0 5px;
  animation: drawLine 3s;
}
@keyframes drawLine {
  0% {
    width: 0;
  }
  100% {
    width: 3%;
  }
}
.shift-top {
  margin-top: -110px;
}
path,
circle {
  transition: fill 1s;
  -webkit-transition: fill 1.5s;
}
.svg {
  cursor: pointer;
}
.svg:hover .cls-2 {
  fill: #fff;
}
.svg:hover .cls-1 {
  fill: #0f81dc;
}

.shift-top h4 {
  font-weight: 900;
  color: #707070;
  font-size: 18px;
  font-family: 'Segoe UI Bold';
}
.rounded-img {
  border-radius: 12px;
}
.card-body h5 {
  font-weight: 900;
}
.color {
  color: #848484;
}
.section-four p {
  color: #848484;
}
.research-area-bg {
  background: #f5f5f5;
}

.btn-outline-blue {
  outline: #0f81dc !important;
  border: 1px solid #0f81dc !important;
  color: #0f81dc !important;
  border-radius: 10px !important;
  transition: background, color 1s;
}
.btn-outline-blue:hover {
  background: #0f81dc;
  color: #fff !important;
}

.copyright {
  font-family: 'Segoe UI Regular';
  cursor: pointer;
}

footer {
  background: url('/img/BannerImg/navbg.png') no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  bottom: -300%;
}
.footer-height {
  height: 100vh;
}
.hide-footer {
  display: none ;
}
.show-footer {
  display: block !important;
  animation: fadeIn 1s;
  max-height: 200px; /* temporary */
}
.shift-technology-section {
  margin-top: -10vh;
  animation: smoth 0.2s ease-in;
}
@keyframes smoth {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10%;
  }
  100% {
    margin-top: -20%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer h4 {
  color: #fff;
}
footer hr {
  border: 1px solid #fff;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}
footer p {
  color: #fff;
}
.scroll-indicator {
  position: fixed;
  top: 50%;
  right: 2%;
  height: 200px;
  margin-top: -100px;
  list-style: none;
  z-index: 2;
}
.hvr-grow {
  display: block !important;
}
.hvr-grow:hover {
  transform: scale(1.5) !important;
}
.active-indicator {
  background: rgb(255, 255, 255);
}
.change-scroll-indicator li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #2679ce !important;
  margin-top: 5px;
  cursor: pointer;
  transition: border 1s;
}
.active-change-scroll-indicator {
  background: #2679ce;
}
.change-scroll-indicator {
  position: fixed;
  top: 50%;
  right: 2%;
  height: 200px;
  margin-top: -100px;
  list-style: none;
  z-index: 2;
}
.scroll-indicator li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  transition: border 1s;
  margin-top: 5px;
  cursor: pointer;
}
.scroll-indicator li:hover {
  background: #0f81dc;
}
.change-scroll-indicator li:hover {
  background: #0f81dc;
}
.icon-container {
  float: right;
}
.navbar-bg {
  background: url('/img/BannerImg/navbg.png') no-repeat center center;
  background-size: cover;
}
.navbar-bg-change {
  background: url('/img/BannerImg/navbg.png') no-repeat center center;
  position: fixed !important;
  top: 0;
  background-size: cover;
}
.navbar-container {
  height: 10vh;
}

nav {
  height: 10vh;
}
.close-btn-box {
  height: 55px;
  padding: 10px;
  list-style: none;
}
.mobile-menu {
  width: 60%;
  height: 100vh;
  background: #13568d;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  box-shadow: -38px 0 40px -11px rgba(0, 0, 0, 0.4);
}
.close-btn {
  font-size: 40px !important;
  color: #fff;
  float: right;
  cursor: pointer;
}

.enter-email {
  margin: 20% 0 10% 0 !important;
}
.about-lines{
  font-family: SegoeUI;
  font-size: 20px;
  line-height: 1.35;
  color: #757575;
  font-family: 'Segoe UI Regular';
}
.contact-input{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: solid 1px #707070!important;
    border-radius: 5px!important;
    text-align: center;
}
.contact-input-text-area{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: solid 1px #707070!important;
    border-radius: 5px!important;
    text-align: center;
}
.contact-input-text-area::placeholder{
  color: #707070!important;
  opacity: 0.7;
}
.submit-now{
  border-radius: 10px;
  background-color: #0f81dc;
  width: 138.7px;
  height: 42px;
  border:none;
  color: #fff;
}
.get-in-touch {
  border-bottom: 4px solid #4293f5;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.23;
  color: #242424;
}
.get-in-touch + p{
  margin-top: 80px;
  color: #848484;
}
.leave-us{
  color: #848484;
}
.card-contact{
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
/* team roaster */
.penstate {
  
  font-family: 'Segoe UI Regular';
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: 3.53px;
  text-align: left;
  color: #686868;
}
.counter{
  width: 78.1px;
  height: 78.1px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #0f81dc;
  border-radius: 50%;
  position: relative;
  
}
.counter p{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.load-heading, .impact-heading{
  width: 153px;
  height: 30px;
  font-family: 'Segoe UI Regular';
  font-size: 22px;
  font-weight: 600;
  color: #0f81dc;
  position: absolute;
  top: -18%;
  left: 50%;
  margin-left: -71.5px;
  background-color: #fff;
}
.load-heading + p, .impact-heading + P{
  font-size: 14px;
  color: #686868;
}
.load-heading + p >span, .impact-heading + P> span{
  font-size: 10px;
}
.load-count, .impact-count{
  color: #0f81dc;
} 
.rostar-btn{
  width: 50%;
  background: none;
  border: 1px solid #0d77b6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.current-roster-card{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
/* end of team roster */


/* ======making responsive to navbar========= */

@media (max-width: 320px) {
  .image-padding img {
    width: 40%;
    margin-bottom: 5px;
  }

  .image-padding img:nth-child(1) {
    width: 40px !important;
  }
}

@media (max-width: 575px) {
  .navbar-brand {
    width: 70%;
  }
  .header-heading h1 {
    font-size: 18px;
  }
  .header-heading h4 {
    font-size: 12px;
  }
  .header-heading .underlined-text {
    font-size: 10px;
    margin-top: 2px;
  }
  .image-padding img {
    width: 40%;
    margin-bottom: 5px;
  }

  .image-padding img:nth-child(1) {
    width: 68px;
  }
  .section-one > img {
    height: 45vh;
  }

  /* .shift-top img:hover{
    transform: scale(2);
    cursor: pointer!important;
  } */

  .dashed-border ul {
    display: none;
  }
  .shift-top {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .show-footer-mobile {
    display: block !important;
  }
  .section-two h1,
  .section-three h1,
  .section-four h1 {
    font-size: 28px;
  }
  .padding-mobile {
    padding-top: 0;
  }
  .section-two p,
  .section-four p {
    font-size: 14px;
  }
  .card-body p {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar-brand {
    width: auto;
  }
  .section-two p {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: auto;
  }
  .section-two p {
    font-size: 15px;
  }
  .shift-top h4 {
    font-size: 16px;
  }
  .card p {
    font-size: 14px;
  }
  .section-four p {
    font-size: 14px;
  }
  footer {
    display: none !important;
  }
  .shift-technology-section {
    margin-top: -35%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .shift-technology-section {
    margin-top: -33.5%;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .shift-technology-section {
    margin-top: -15%;
  }
}

@media (min-width: 1500px) and (max-width: 2560px) {
  .shift-technology-section {
    margin-top: -15%;
  }
  .header-heading h1 {
    font-size: 50px;
  }
  .header-heading h4 {
    font-size: 30px;
  }
  .header-heading .underlined-text {
    font-size: 24px;
  }
}

.research-card {
  margin-bottom: 1em;
  transition: transform 200ms;
  border-top-left-radius: 17px !important;
  border-top-right-radius: 17px !important;
  border: none!important;
}

@media (min-width: 726px) {
  .research-card:hover {
    transform: scale(1.05);
    transition: transform 200ms;
    transition-timing-function: ease-out;
  }
}

@media (max-width: 767px) {
  .dashed-border {
    visibility: hidden;
  }
}

@media (min-width: 725px) {
  .section {
    padding-top: 10vh;
  }

  .heading-container {
    margin-top: 15%;
  }

  .research-area-bg {
    height: 100vh;
  }
}

.section-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section-title h1 {
  display: inline-block;
  position: relative;
}

.section-title h1::after {
  content: '';
  height: 1px;
  width: 80%;
  position: absolute;
  border: 2px solid #4293f5;
  bottom: -0.1em;
  left: 50%;
  transform: translate(-50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* Push to Left Navigation Menu */

.cbp-spmenu {
  background: #13568d;
  position: fixed;
}

.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  right: 0;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  .cbp-spmenu-right {
    right: -190px;
  }
}
