/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.nsf-img{
	width: 20%;
}

.row2 {
  display: flex;
	align-items: center;
	justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.left{
  float:left;
}
.right{
    float:right;
}
