/* Responsive layout  */
@media screen and (max-width: 1024px){
	/* Navigation text css  */
	.team-admin-page-navigation{
		margin-top: 9rem;
	}
	.UserDashboarForAdmin-page-navigation{
		margin-top: 9rem!important;
	} 
	/* Navigation text end  */

	.action_btn_block .lobe_btn{
		width: 51px !important;
	    font-size: 9px !important;
	    margin-right: 16px !important;
	    margin-bottom: 6px !important;
	    margin-left: -1px!important;
	}
	.action_btn_block #motor_and_sensor_cortex {
	    width: 51px !important;
	}
	.bran-smiulation-dash-chart canvas {
		/*height: 324px;*/
	}
	.div-chart-labels {
		font-size: 12px;
	}
	.Individual-Head-Acceleration-player-dash-image .loader p{
		font-size: 13px;
	    width: 51%;
	}
	.Individual-Head-Acceleration-player-dash-image .loader{
		width: 90%;
	}
	.Simulationvideo{
		height: 224px;
	}
	.impact-video{
		height: 224px;
	}
}


@media screen and (max-width: 800px){
	/* Navigation text css  */
	.team-admin-page-navigation .nav-p {
	    font-size: 25px;
	}
	.UserDashboarForAdmin-page-navigation .penstate{
		color:#0f81dc;
		font-size: 25px;
	}

	.team-admin-page-navigation .nav-p {
		letter-spacing: 1.53px;
	}

	/* Navigation text end  */

	.action_btn_block .lobe_btn{
		width: 40px !important;
		font-size: 7px !important;
		margin-right: 5px !important;
	    margin-bottom: 6px !important;
	    margin-left: 2px!important;
	}
	.action_btn_block #motor_and_sensor_cortex {
	    width: 38px !important;
	}

	.player-dash-chart-setting h4{
		font-weight: 400;
		text-align: left;
	}
	.backbutton{
		margin-top: 19px;
	}
	.div-chart-labels .chart-label {
    	width: 50%;
	}
	.Individual-Head-Acceleration-player-dash-image .loader p{
		    padding: 4px;
	    font-size: 9px;
	    font-weight: 700;
	    width: 46%;
	}
	.Individual-Head-Acceleration-player-dash-image .loader{
		    width: 87%;
	}
	.Simulationvideo{
		height: 156px;
	}
	.impact-video{
		height: 156px;
	}
	.impact-video p{
		font-size: 16px;
	}
}

@media screen and (max-width: 768px){
	.action_btn_block .lobe_btn{
		width: 40px !important;
		font-size: 7px !important;
		margin-right: 5px !important;
	    margin-bottom: 6px !important;
	    margin-left: 2px!important;
	}
	.action_btn_block #motor_and_sensor_cortex {
	    width: 38px !important;
	}
	.impact-video p{
		font-size: 13px;
	}
}

@media screen and (max-width: 600px){
	/* Navigation text css  */
	.team-admin-page-navigation .nav-p {
	    font-style: normal;
	    font-stretch: normal;
	    line-height: normal;
	    letter-spacing: inherit;
	    font-size: 20px;
	}
	.team-admin-page-navigation{
	    margin-top: 8rem;
	}
	.UserDashboarForAdmin-page-navigation .penstate{
		 font-style: normal;
	    font-stretch: normal;
	    line-height: normal;
	    letter-spacing: inherit;
	    font-size: 20px;
	}
	.UserDashboarForAdmin-page-navigation{
		margin-top: 7rem!important;
	} 
	/* Navigation text end  */

	/* Player dashboard css  start  */
	.player-dashboard-user-datials-header {
	    border: 1px solid rgb(15, 129, 220)!important;
	    border-radius: 0.8rem!important;
	    background: #D9D9D9!important;
	    color: #000000!important;
	}
	
	.player-dashboard-user-datials-header p{
		text-align: left!important;
		color: #000000;
	}
	.Individual-Head-Acceleration-player-dash-chart canvas{
		height: 353px!important;
	}
	.Individual-Head-Acceleration-player-dash-chart, .Individual-Head-Acceleration-player-dash-image{
		width: 100%;
	}
	.brain_model{
		width: 50%!important;
	}

	.action_btn_block .lobe_btn{
		width: 53px !important;
		font-size: 9px !important;
		margin-right: 12px !important;
	    margin-bottom: 6px !important;
	    margin-left: 2px!important;
	}

	.action_btn_block #motor_and_sensor_cortex {
	    width: 38px !important;
	}
	/* Player dashboard css  end  */

	.backbutton {
    	position: unset;
	}
	.brain-simlation-details-metrics .metrics {
		width: 100%;
	}
	.brain-simlation-details-movie .movie {
	    width: 100%;
	    text-align: center;
	        padding: 20px 0px 20px;
	    margin: 32px 0px 32px;
	}
	.div-chart-labels .chart-label {
	    text-align: center;
	    width: 100%;
	    padding: 4px;
	}
	.Simulationvideo {
    	height: 229px;
	}
	.impact-video{
		height: 229px;
		margin-top: 30px;
	}
	.impact-video p {
		font-size: 19px;
	}
}


@media screen and (max-width: 480px){
	/* Navigation text css  */
	.team-admin-page-navigation .nav-p {
	    font-size: 13px;
	}
	.team-admin-page-navigation {
	    margin-top: 7rem!important;
	}
	.UserDashboarForAdmin-page-navigation .penstate{
		font-size: 16px;
	}
	.UserDashboarForAdmin-page-navigation {
	    margin-top: 4rem!important;
	}
	/* Navigation text end  */

	/* Player dashboard css  start  */
	.player-dashboard-user-datials-header p {
	    text-align: left!important;
	    color: #000000;
	    font-size: 15px!important;
	    letter-spacing: 1px;
	}
	.head-acc-evnt-chart::after {
	    line-height: 3.35!important;
	}
	.action_btn_block .lobe_btn{
		width: 40px !important;
		font-size: 7px !important;
		margin-right: 12px !important;
	    margin-bottom: 6px !important;
	    margin-left: 2px!important;
	}

	.action_btn_block #motor_and_sensor_cortex {
	    width: 38px !important;
	}
	/* Player dashboard css end  */
	.brain-simlation-details-movie  .col-md-12{
		padding-right: 0px; 
    	 padding-left: 0px;
	}
	.div-chart-labels {
	    width: 100%;
	    text-align: left;
	    margin-left: 0px;
	    font-size: 11px;
	}
	.div-chart-labels .chart-label {
	    text-align: left;
	    width: 36%;
	    padding: 2px;
	    margin-left: 47px;
	}
	.div-chart-labels .chart-label span {
	    height: 23px;
	    padding: 0px 11px 1px;
	    content: '';
	    margin-right: 8px;
	}
	.div-chart-labels .chart-label span {
	    margin-right: 5px;
	}

	.export-player-report-1{
		display: none!important;
	}
	.export-player-report-2{
		display: block!important;
	}
	.Individual-Head-Acceleration-player-dash-image .loader p {
	    background: white;
	    padding: 8px;
	    font-size: 24px;
	    font-weight: 700;
	    width: 56%;
	    border: 1px solid;
	    margin: 0 auto;
	    box-shadow: 0px 0px 6px 0px #ccc;
 	}
 	.Individual-Head-Acceleration-player-dash-image .loader {
	    width: 93%;
	}
	.head-acc-evnt-chart::after {
	    top: -9%!important;
	    height: 59px!important;
	}
}

@media screen and (max-width: 414px){
	.action_btn_block .lobe_btn {
	    width: 29px !important;
	    font-size: 7px !important;
	    margin-right: 12px !important;
	    margin-bottom: 6px !important;
	    margin-left: 2px!important;
	}
	.player-dash-chart-setting h4 {
	    font-weight: 400;
	    text-align: left;
	    font-size: 18px;
	}
	button.settings-buttons {
	    padding: 2px 13px 2px;
	    font-size: 15px;
	}
	.bran-smiulation-dash-chart canvas {
		height: 322px;
	}
	.div-chart-labels {
	    font-size: 9px;
	}
	.Individual-Head-Acceleration-player-dash-image .loader{
		width: 91%;
	}
	.Individual-Head-Acceleration-player-dash-image .loader p{
		    padding: 8px;
	    font-size: 19px;
	    font-weight: 700;
	    width: 51%;
	}
	.Simulationvideo, .impact-video{
		height: 172px;
	}
}

@media screen and (max-width: 412px){
	/* Navigation text css  
	.team-admin-page-navigation {
	    margin-top: 6rem!important;
	}
	.action_btn_block .lobe_btn {
	    width: 40px !important;
	    font-size: 9px !important;
	    margin-right: 2px !important;
	    margin-bottom: 6px !important;
	    margin-left: 2px!important;
	}
	/* Navigation text end  */
}
@media screen and (max-width: 375px){
	.action_btn_block .lobe_btn {
	    width: 34px !important;
	    font-size: 6px !important;
	    margin-right: 1px !important;
	    margin-bottom: 6px !important;
	    margin-left: 0px!important;
	}
	.div-chart-labels{
		margin-left: 52px;
		    font-size: 8px;
	}
	.div-chart-labels .chart-label {
	  	    width: 50%;
	     margin-left: 0px; 
	}
	.Individual-Head-Acceleration-player-dash-image .loader p {
	    background: white;
	    padding: 7px;
	    font-size: 12px;
	    font-weight: 700;
	    width: 43%;
	   
	}
	.Simulationvideo, .impact-video{
		height: 156px;
	}
	.impact-video p {
	    font-size: 15px;
	}
}

@media screen and (max-width: 360px){
	.action_btn_block .lobe_btn {
	    width: 31px !important;
	    font-size: 6px !important;
	    margin-right: 1px !important;
	    margin-bottom: 6px !important;
	}
	.player-dash-chart-setting h4 {
		font-size: 16px;

	}
	.button.settings-buttons{
		padding: 2px 11px 2px;
	    margin-left: 3px;
	    margin-top: 4px;
	    font-size: 14px;
	}
	.Simulationvideo, .impact-video {
	    height: 144px;
	}
}
@media screen and (max-width: 320px){
	.action_btn_block .lobe_btn {
	    width: 24px !important;
	    font-size: 6px !important;
	    margin-right: 1px !important;
	    margin-bottom: 6px !important;
	    margin-left: 0px!important;
	}
	.Individual-Head-Acceleration-player-dash-image .loader{
		width: 88%;
	}
	.Individual-Head-Acceleration-player-dash-image .loader p {				
	    padding: 7px;
	    font-size: 8px;
	    font-weight: 700;
	    width: 38%;
	}
}

/* Responsive end  */