/* Navigation text css  */

.team-admin-page-navigation{
	margin-top: 6rem;
}
.team-admin-page-navigation .nav-p a{
	color: #000000;
}
.team-admin-page-navigation .nav-p{
	color:#0f81dc;
	font-size: 30px;
}
.UserDashboarForAdmin-page-navigation .penstate{
	color:#0f81dc;
	font-size: 30px;
}
.UserDashboarForAdmin-page-navigation .penstate a{
	color: #000000;
}


/* Navigation text css  end  */

/* Player dashboard css  start  */
.player-dashboard-user-datials-header{
	border: 2px solid rgb(15, 129, 220)!important;
    border-radius: 1.8rem!important;
}
.player-dashboard-user-datials-header p{
    text-align: left!important;
}
.player-dashboard-title{
	text-decoration: underline;
}
.head-acc-evnt-chart::after{
	    line-height: 2.35!important;
}
.Cumulative-Overview-player-dash{
	border: 2px solid rgb(15, 129, 220)!important;
    border-radius: 1.8rem!important;
}

.Cumulative-Overview-player-dash .player-dashboard-sub-head{
	color: #0f81dc!important;
}
.Individual-Head-Acceleration-player-dash{
	color: #0f81dc!important;
}
.Individual-Head-Acceleration-player-dash-chart{
	width: 65%;
}
.Individual-Head-Acceleration-player-dash-image{
	width: 35%;
}
.player-dash-chart-setting h1{
	text-align: center;
	color: #313030;
	font-weight: 800;
}
.player-dash-chart-setting{
	padding: 20px 0px 20px;
    border-radius: 12px;
    background: #d3d3d3;
}
button.settings-buttons {
    background: #4472C4;
    border: 1px solid #0d76c9;
    border-radius: 4px;
    padding: 3px 16px 4px;
    color: white;
    margin-left: 12px;
    margin-top: 4px;
}
.player-dash-chart-setting h4{
	font-weight: 400;
	float: right;
}
.settings-buttons-active{
	background: #FFD966!important;
    color: black!important;
}
/* Player dashboard css end  */

