/* Navigation text css  */

.team-admin-page-navigation{
    margin-top: 6rem;
}
.team-admin-page-navigation .nav-p a{
    color: #000000;
}
.team-admin-page-navigation .nav-p{
    color:#0f81dc;
    font-size: 30px;
}
.UserDashboarForAdmin-page-navigation .penstate{
    color:#0f81dc;
    font-size: 30px;
}
.UserDashboarForAdmin-page-navigation .penstate a{
    color: #000000;
}


/* Navigation text css  end  */

/* Player dashboard css  start  */
.player-dashboard-user-datials-header{
    border: 2px solid rgb(15, 129, 220)!important;
    border-radius: 1.8rem!important;
}
.player-dashboard-user-datials-header p{
    text-align: left!important;
}
.player-dashboard-title{
    text-decoration: underline;
}
.head-acc-evnt-chart::after{
        line-height: 2.35!important;
}
.Cumulative-Overview-player-dash{
    border: 2px solid rgb(15, 129, 220)!important;
    border-radius: 1.8rem!important;
}

.Cumulative-Overview-player-dash .player-dashboard-sub-head{
    color: #0f81dc!important;
}
..player-dashboard-sub-head {
    font-weight: 900;
}
.Individual-Head-Acceleration-player-dash{
    color: #0f81dc!important;
}
.Individual-Head-Acceleration-player-dash-chart{
    width: 65%;
}
.Individual-Head-Acceleration-player-dash-image{
    width: 35%;
}
.player-dash-chart-setting h1{
    text-align: center;
    color: #313030;
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 12px;
}
.player-dash-chart-setting{
    padding: 20px 0px 20px;
    border-radius: 12px;
    background: #d3d3d3;
}
button.settings-buttons {
    background: #4472C4;
    border: 1px solid #0d76c9;
    border-radius: 4px;
    padding: 3px 16px 4px;
    color: white;
    margin-left: 12px;
    margin-top: 4px;
}
.player-dash-chart-setting h4{
    font-weight: 400;
    text-align:  right;
}
.settings-buttons-active{
    background: #FFD966!important;
    color: black!important;
}
.Individual-Head-Acceleration-player-dash-image button{
    padding: 4px 33px;
    font-size: 18px;
    background: #2d549a;
}

/* Player dashboard css end  */

/* Brain simulation details page css start*/

.brain-simlation-details .brain-simlation-details-title{
    text-align: center;
    color: black;
    text-decoration: underline;
    padding: 20px;
}   
.brain-simlation-details .brain-simlation-details-subtitle{
    text-align: center;
    color: #0f81dc;
    font-weight: 900;
    letter-spacing: 1px;
}
.brain-simlation-details .user-simlation-details{
    border: 2px solid gray;
    border-radius: 3px;
    padding: 13px;
}

.brain-simlation-details .user-simlation-details p{
    font-weight: 700;
    font-size: 20px;
}
.brain-simlation-details-graph, .brain-simlation-details-movie{
    margin-top: 36px;
}
.brain-simlation-details-graph p{
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}
.brain-simlation-details-movie .movie{
    float: left;
    width: 100%;
    text-align: center;
    padding: 23px 0px 27px;
    border: 5px solid #0e7bd2;
    margin: 45px 0px 40px;
    border-radius: 4px;
}
.brain-simlation-details-metrics .metrics{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 26px;
}
.brain-simlation-details-metrics .gray{
       background: gray;
    margin-top: 10px;
        margin-left: 8px;
    margin-right: 8px;
    border: 1px solid #084372;
}
.metrics button{
        padding: 4px 17px;
}
.backbutton{
    position: absolute;
    width: 150px;
    margin-top: 42px;
    background: #8080808c;
    padding: 11px;
    color: #0f81dc!important;
    font-weight: 800;
}
.bran-smiulation-dash-chart{
    width: 100%;
}

.bran-smiulation-dash-chart canvas{
        width: 100%!important;
    display: block;
    height: 352px!important;

}

.div-chart-labels{
    width: 65%;
    text-align: left;
    font-size: 13px;
    margin-left: 54px;
}

.div-chart-labels .chart-label{
    width: 31%;
}

.div-chart-labels .chart-label span {
    height: 23px;
    padding: 0px 24px 1px;
    content: '';
    margin-right: 8px;
}

.div-chart-labels  .label-1 span {
    background: #1987dd;
}
.div-chart-labels  .label-2 span {
    background: red;
}
.div-chart-labels  .label-3 span {
    background: #00af43;
}
.div-chart-labels  .label-4 span {
    background: #8000a3;
}
.div-chart-labels  .label-5 span {
    background: #ff9a00;
}
.div-chart-labels  .label-6 span {
    background: #000000;
}

/* Brain simulation details page css end*/

.Individual-Head-Acceleration-player-dash-image svg {
    width: 100%;
    padding: 56px;
}

.metrics svg {
    width: 100%;
    padding: 79px;
}

.export-player-report-2{
    display: none!important;
}

.Individual-Head-Acceleration-player-dash-image .loader{
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 92%;
    margin-top: 41%;
}
.Individual-Head-Acceleration-player-dash-image .loader p{
    background: white;
    padding: 9px;
    font-size: 20px;
    font-weight: 700;
    width: 54%;
    border: 1px solid;
    margin: 0 auto;
    box-shadow: 0px 0px 6px 0px #ccc;
}
.impact-video{
    width: 100%;
    border: 1px solid #0a528b;
    height: 274px;
    margin-top: 6px;
    margin-bottom: 7px;
}
.Simulationvideo{
    height: 274px;
    margin-bottom: 13px;
}
.impact-video p{
    font-weight: 900;
    font-size: 21px;
    padding: 0px;
}

input#MyrangeSlider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    background: #686868d1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom: none;
    border-bottom:none!important;
}

input#MyrangeSlider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 28px;
    background: #007bff;
    cursor: pointer;
}
input#MyrangeSlider1:hover {
    opacity: 1;
}
input#MyrangeSlider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
input#MyrangeSlider1:focus{
    background: grey !important
}

input#MyrangeSlider2 {
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    background: #686868d1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom: none;
    border-bottom:none!important;
}

input#MyrangeSlider3 {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: #686868d1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom: none;
    border-bottom:none!important;
}

input#MyrangeSlider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 28px;
    background: #4eb329;
    cursor: pointer;
}

input#MyrangeSlider3::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 42px;
    background: #007bff;
    cursor: pointer;
}

input#MyrangeSlider2:hover , input#MyrangeSlider3:hover{
    opacity: 1;
}
input#MyrangeSlider2::-moz-range-thumb, input#MyrangeSlider3::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
input#MyrangeSlider2:focus, input#MyrangeSlider3:focus{
    background: grey !important
}


.cbp-spmenu-right.cbp-spmenu-open{
    overflow: scroll;
}

.upload-icon{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 18%;
}

.upload-icon img{
    width: 8%!important;
    border-radius: 0PX!important;
}

.profile-loading{
    position: absolute!important;
}
.profile-loading .spinner-border{
    color: white!important;
}

.custom-button{
    background-color: #4472C4!important;
    color: white!important;
    padding: 6px 24px!important;
    border: 2px solid #4472c4!important;
}
.custom-button2{
     background-color: #CF6D2A!important;
    color: white!important;
    padding: 6px 24px!important;
    border: 2px solid #4472c4!important;
}

/*nav section css start*/

.View img{
    width: 28%!important;
    display: inline-block!important;
    margin: 9px!important;
    cursor: pointer!important;
}

/*nav section css end*/

.Admintitle{
    margin-top: 30px;
}

.Admintitle h1{
    font-weight: 600;
}
.Admintitle2{
    text-align: center;
    margin-top: -27px;
}
.Admintitle2 h1{
    font-weight: 600;
}